p {
  font-weight: 300
}

body {
  background-color: rgb(240, 240, 240);
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #dd0a35;
  font-size: 24px;
  line-height: 50px;
}

h2 {
  font-size: 20px;
}

.card {
  background: white;
  width: 700px;
  border-radius: 8px;
  text-align: center;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 1px 1px 5px #BBBBBB;
}

a {
  text-decoration: none;
  color: rgb(200, 200, 200);
}

a:hover {
  color: rgb(100, 100, 100);
}

.img-round-small {
  width: 180px;
  border-radius: 90px;
}

.img-wide {
  width: 200px;
  margin: 50px;
  border-radius: 4px;
}

.list-inline {
  list-style: none;
  padding-left: 0;
}

.list-inline > li {
  display: inline-block;
  margin: 10px;
  font-size: 15px;
  font-weight: 300;
}

.button {
  width: 150px;
  background-color: rgba(221, 10, 53, 0.7);
  padding: 1px;
  border-radius: 4px;
  margin: 20px auto;
  box-shadow: none;
  color: white;
}

.button-smaller {
  width: 150px;
  background-color: rgba(22, 135, 167, 0.7);
  padding: 0px;
  border-radius: 4px;
  margin: 20px auto;
  box-shadow: none;
  color: white;
}

.button:hover {
  background-color: rgba(221, 10, 53, 1);
}

.button-smaller:hover {
  background-color: rgba(22, 135, 167, 1);
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  div {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  div {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  div {
    width: 300px;
  }
}

#facebook-icon:hover {
  color: #3b5998;
}

#linkedin-icon:hover {
  color: #0077B5;
}

#instagram-icon:hover {
  color: #fbad50;
}

#soundcloud-icon:hover {
  color: #ff7700 ;
}

.weird-button {
  color: white;
  background-color: #1687a7;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  border-radius: 20px;
}
